$primary: rgb(0, 0, 7);
$secondary: rgb(95, 119, 191);
$lightly: rgb(240,240,240);
$hover: rgb(255, 96, 0);

$shadow: rgba(68,68,68,0.8);

$fontSize: 14px;
$marginTop: 50px;

$body: $secondary;
$page: $lightly;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
